
body {
    background-color: black;
}
.main{
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  overflow: hidden;
  width:1000px;
  height:570px;
  position:relative;
}
canvas { background-image: url('./files/sea.jpg');
display: block;
margin: 0 auto;
}

.mask{
  background-image: url('./files/sea_mask.png');
  width:1000px;
  height:570px;
  position: absolute;
     z-index:1;
}

.target {
  position: absolute;
  background-image: url('./files/target-seeker.png');
   width:1597px;
   height:475px;
   z-index:-2;
}

.targeta {
   z-index:2;
}

.img{
  display: none;
}
.welcome{
  width:1000px;
  height:570px;
  background-image: url('./files/title-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
     z-index:-1;
}
.welcome input {
  background-image: url('./files/start.jpg');
  width: 61px;
  height:130px;
  border: none;
  margin-left: 800px;
  margin-top: 5px;
cursor: pointer;
}

.welcome input:hover {
  background-image: url('./files/startb.jpg');

cursor: pointer;
}

.welcome img {
    width: 1000px;
}

.show_welcome{
  z-index: 3;
}
.score{
  border: 4px solid #355547;
  width:992px;
  height:70px;
  color: #355547;
  font-family: arial;
  background-color: black;
  margin: auto;
  display: flex;
  justify-content:center;
  align-items: center;
   flex-direction: row;
   font-size: 24px;

}
#torpedos{
  color: red;

}
#ships{
  color: red;

}


.mute {
  background-image: url('./files/soundon.jpg');
  /* background-color: black; */
  width: 70px;
  height:70px;
  border: none;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;
cursor: pointer;
}
.mute:focus{
  outline:0;
}

.soundoff{
  background-image: url('./files/soundoff.jpg');
}
span {
  padding: 5px;
}
