
.main{
  display: block;
  margin: 0 auto;
  overflow-x: hidden;
  overflow: hidden;
  width:1000px;
  height:570px;
  position:relative;
}
canvas { background-image: url('./files/sea.jpg');
display: block;
margin: 0 auto;
}

.target {
  position: absolute;
  /* width: 512px;
  height: 512px; */
  background-image: url('./files/target-seeker.png');
  /* background-image: url('../images/header-shade.jpg'); */
  /* background-color: green; */
   width:1597px;
   height:475px;
   /* z-index:-1; */
  /* background-color: red; */
}
.img{
  display: none;
}
